.topbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #5CDB95;
    padding: 8px 100px;
}

.topbarRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.topbarTitle {
    font-size: 14px;
    color: #05386B;
}