.about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutContent {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutContentDescription {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #05386B;
    margin-bottom: 16px;
}

.aboutContentCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.aboutContentCard {
    background-color: #5CDB95;
    border: 2px solid #05386B;
    border-radius: 4px;
    padding: 8px 16px;
}

.aboutContentCardTitle {
    font-size: 24px;
    font-weight: bold;
    color: #05386B;
    margin-bottom: 8px;
}

.aboutContentCardText {
    font-size: 14px;
}