.cryptocurrency {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cryptocurrencySearch {
    width: 100%;
    outline: 1px solid #05386B;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 8px;
    padding: 4px 8px;
}

.cryptocurrencySearch:focus {
    outline: 2px solid #05386B;
}

.cryptocurrencyTable {
    width: 100%;
    height: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

.cryptocurrencyTable th,
.cryptocurrencyTable td {
    text-align: left;
    border: 2px solid #05386B;
    padding: 8px 16px;
}

.cryptocurrencyTable th {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.cryptocurrencyTable td {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.cryptocurrencyPagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 32px;
}

.cryptocurrencyPagination>button:not(:last-of-type) {
    margin-right: 8px;
}